[Desktop Entry]
Version=1.0
Type=Application
Name=Finance
Comment=Abre o Finance local
Exec=open-app.sh
Icon=finance
Terminal=false
Categories=Office;Finance;
StartupNotify=true
StartupWMClass=personal-financial-control
